/*우측 콘텐츠*/
* {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: "맑은 고딕", "돋움";
    font-size: 12px;
    color: #444444;
    background-color: #f2f0f0;
}

ul {
    list-style-type: none;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #444444;
}

.clear {
    clear: both;
}
/* 헤더 */
header {
    width: 1900px;
    height: 128px;
    
}
header #top {
    width: 990px;
    margin: 0 auto;
    /* border: 1px solid #0000ff; */
}

/* 로고 사진 부분 사이즈 조절 */
header #top #logo img{
    width: 200px;
    height: 100px;
    border-radius: 10px;
}

header #logo {
    float: left;
    margin: 30px 0 0 0;
    /* border: 1px solid #000000; */
}
/* 검색 */
header #search {
    float: left;
    font-family: "Sans-serif";
    font-size: 12px;
    color: #96c11f;
    margin: 40px 0 0 150px;
    /* border: 1px solid #000000; */
}

header #search #search_title {
    float: left;
    margin-top: 6px;
}

header #search #search_form {
    float: left;
}

header #search #search_form input {
    width: 80px;
    height: 16px;
    border: 0;
    background-color: #f2f0f0;
    border-bottom: 1px solid #cccccc;
    margin-left: 5px;
}

header #search #search_button {
    float: left;
    margin: 3px 0 0 3px;
    
    
}
header #search #search_button img{
    border-radius: 5px;
    width: 20px;
}
/* 상단 메뉴 */
header #top_menu {
    float: right;
    margin-top: 45px;
    /* border: 1px solid #000000; */
}

header #top_menu a:link {
    font-size: 11px;
    color: #888888;
}

header #top_menu a:visited {
    font-size: 11px;
    color: #888888;
}

header #top_menu a:hover {
    font-size: 11px;
    color: #888888;
}

header #top_menu a:active {
    font-size: 11px;
    color: #888888;
}

header #top_menu li.green a:link {
    color: #96c11f;
}

header #top_menu li.green a:visited {
    color: #96c11f;
}

header #top_menu li.green a:hover {
    color: #96c11f;
}

header #top_menu li.green a:active {
    color: #96c11f;
}

header #top_menu li {
    display: inline;
    margin-left: 10px;
}
/* 메인 메뉴 */
#main_menu {
    height: 38px;
    margin-top: 15px;
    background-color: #4e4c4d;
    /* border: 1px solid #0000ff; */
}

#main_menu ul {
    width: 990px;
    margin: auto;
    /* border: 1px solid #ff0000; */
    padding-top: 12px;
    text-align: center;

}

#main_menu ul li {
    display: inline-block;
    margin: 0 57px;
}

#main_menu a:link {
    color: #ffffff;
}

#main_menu a:visited {
    color: #ffffff;
}

 #main_menu a:hover {
    color: #ffffff;
}

 #main_menu a:active {
    color: #ffffff;
}
/*장바구니*/
#id_Right{
    float: left;
    width: 900px;
    height: 100%;
    margin-left: 700px;
    margin-top: 100px;
    position: absolute;
}
section#right {
    width: 100%;
    height: 100%;
    float: right;
}
section#right h2#cart_title {
    padding: 0 0 5px 0;
    border-bottom: solid 1px #000000;
    margin-left: 10px;
}
section#right h2#cart_title span {
    color: #688912;
}
section#right #process {
    margin: 15px 0 0 10px;
}
section#right input[type="text"]{
    width: 22px;
    height: 23px;
    padding: 0 0 0 5px;
    line-height: 25px;
    border: 1px solid #d4d8d9;
    border-radius: 3px 0 0 3px;
}
.up{
    width: 22px;
    height: 12px;
    position: absolute;
    left: 27px;
    top: 0;
    border: 1px solid #d4d8d9;
}
.down{
    width: 22px;
    height: 12px;
    position: absolute;
    left: 27px;
    bottom: 0;
    border: 1px solid #d4d8d9;
}
section#right img{
    margin: 0 4px 0 0;
    vertical-align: middle;
}
.base{
    position: relative;
    display: inline-block;
    width: 50px;
    margin: 0 1px 0 0;
    text-align: left;
}
.class_button{
    margin: 20px 0 20px;
}
section#right table {
    width: 100%;
    margin: 10px 0 0 0;
    border-collapse: collapse;
    border-top: solid 2px #688912;
    border-left: solid 2px #cccccc;
    border-right: solid 2px #cccccc;
    border-bottom:  solid 2px #cccccc;
}
section#right tr.title {
    width: auto;
    height: 50px;
    background-color: #e9e8e9;
}
section#right th {
    width: auto;
    padding: 10px;
    border-bottom: solid 2px #cccccc;
}
section#right tr.items {
    height: 80px;
    border-bottom: solid 2px #cccccc;
}
section#right tr.items td {
    padding: 5px;
    border-bottom:  solid 2px #cccccc;
}
section#right tr.items .col1 {
    width: 50px;
    text-align: center;
}
section#right tr.items .col2 {
    width: 55px;
    text-align: center;
}
section#right tr.items .col3 {
    width: 60px;
    text-align: center;
}
section#right tr.items .col4 {
    width: 80px;
    text-align: center;
}
section#right tr.items .col5 {
    width: 80px;
    text-align: center;
}
section#right tr.items .col6 {
    width: 80px;
    text-align: center;
}
section#right tr.items .col7 {
    width: 80px;
    text-align: center;
}
section#right tr.total_price {
    height: 25px;
}
section#right tr.total_price td {
    text-align: right;
    padding: 10px;
}
section#right tr.order_status_box {
    height: 150px;
    background-color: #e9e8e9;
    border-top: solid 2px #cccccc;
}
section#right .order_status_box td {
   vertical-align: top;
}
section#right .order_status {
    position: relative;
}
section#right .order_status p {
    position: absolute;
    top: 40px;
    left: 20px;
}
section#right .order_status div {
    float: right;
}
section#right .order_status li {
    display: inline-block;
    margin: 2px 0;
}
section#right .order_status .col1 {
    width: 150px;
    
}
section#right .order_status .col2{
    width: 80px;
    text-align: right;
}
section#right table span {
    font-weight: bold;
}
section#right #order_buttons {
    margin: 20px 0 0 0;
    text-align: center;
}
section#right #order_buttons li {
    display: inline;
}
/*왼쪽 컨텐츠*/
#id_Left{
    float: left;
    margin-left: 450px;
    margin-top: 100px;
    position: absolute;
}
aside#left {
    width: 215px;
    float: left;
    margin-top: 15px;
    font-weight: bold;
    background-color:ghostwhite;
}
aside#left #cat_title {
    padding: 12px;
    background-color: #96c11f;
    color: #ffffff;
    text-align: center;
}
aside#left li {
    color: #666666;
    padding: 7px 0 7px 30px;
    border-left: solid 1px #ffffff;
    border-bottom: solid 1px #ffffff;
    margin-right:20px;
    text-align: center;
    
}
main
aside#left #customer {
    width: 213px;
    height: 100px;
    margin-top: 20px;
    border: solid 1px #ffffff;
    background-color: #ffffff;
    clear: both;
}
footer {
    width: 1900px;
    height: 200px;
    margin-top: 1000px;
    clear: both;
    position:absolute;
    
}
footer #footer_menu_box {
    height: 40px;
    background-color: #4e4c4d;
    margin-top: 20px;
   
}
footer #footer_menu {
    width: 990px;
    margin: 0 auto;
    padding-top: 15px;
}
footer #footer_menu ul {
    float: left;
    margin-left: 200px;
    margin-bottom: 5px;
}
footer #footer_menu li {
    display: inline;
    margin-left: 20px;
}
footer #footer_menu a:link {
    color: #ffffff;
}
footer #footer_menu a:hover {
    color: #ffffff;
}
footer #footer_menu a:visited {
    color: #ffffff;
}
footer #footer_menu a:active {
    color: #ffffff;
}
footer #footer_box {
    width: 990px;
    margin: auto;
}
footer #footer_box div {
    float: left;
}
footer #footer_box #footer_logo {
    margin: 38px 0 10px 150px;
}
footer #footer_box #address {
    margin: 25px 0 0 10px;
}
footer #footer_box #footer_banner {
    margin: 50px 0 0 150px;
}
