/* 신규 상품 부분 */
.class2{
    width: 2000px;
    height: 1000px;
}
section#new {
    clear: both;
    height: 650px;
    margin-top: 30px;
    border-top: 4px solid green;
    width: 85%;
    margin-left: 130px;

}
section#new ul{
    margin-bottom: 30px;
    border: 1px solid gray;
}

section#new h3 {
    margin: 20px 0 15px 35px;

}

section#new h3 span {
    color: goldenrod;
    font-size: 20px;
    margin-right: 10px;
}

section#new .item {
    float: left;
    text-align: center;
    /* margin: 20px 0 0 32px; */
    margin-left: 100px;
}

section#new .item ul li img {
    width: 300px;
    height: 300px;
    border: 1px solid gray;
    /* margin-left: 200px; */
    
}

section#new .item .subject {
    margin-top: 10px;
    color: red;
}

section#new .item .comment {
    margin-top: 5px;
    color: blue;
}

section#new .item .price {
    margin-top: 5px;
    font-weight: bold;
    margin-bottom: 5px;
}
footer {
    height: 300px;
    margin-top: 20px;
    /* background: green; */
    clear: both;
    /* background: green; */
    /* width: 80%; */
    
}

footer #footer_menu_box {
    height: 40px;
    clear: both;
    background-color: gray;
}

footer #footer_menu {
    width: 990px;
    margin: 0 450px 0 450px;
    padding-top: 15px;
}

footer #footer_menu ul {
    margin-left: 210px;
}

footer #footer_menu li {
    display: inline;
    margin-left: 20px;
}

footer #footer_menu a:link {
    color: black;
    font-weight: 700;
    
}

footer #footer_menu a:hover {
    color: gray;
}

footer #footer_menu a:visited {
    color: red;
}

footer #footer_menu a:active {
    color: blueviolet
}

footer #footer_box {
    width: 990px;
    margin: 0 450px 0 450px;
}
footer #footer_box #footer_logo{
    /* float: left; */
    
    /* width: 100px; */
    /* background: red; */
}
footer #footer_box img{
    padding-top: 20px;
    border-radius: 10px;
    width: 200px;
    /* float: left; */

}

footer #footer_box div {
    float: left;
}

footer #footer_box #address {
    margin: 25px 0 0 10px;
    margin-left: 100px;
    font-weight: bold;
    font-size: 16px;
    margin-top: 40px;
    display: inline;
    width: 40%;
}
footer #footer_box #address img{
    float: left;
}

footer #footer_box #footer_banner {
    /* margin: 50px 0 0 70px; */
    display: inline;
}
footer #footer_box #footer_banner img{
    float: left;
    padding: 0;
    height: 100px;
    width: 200px;
    margin-left: 90px;
    margin-top: 20px;

    
}