<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Img Closeup</title>
    <style>
        body{
            width: 800px;
            height: 600px;
            margin: auto;
            margin-top: 50px;
        }
        body img{
            width: 800px;
            height: 600px;
        }
        h3 {
            color: rgb(182, 174, 174);
        }
    </style>
</head>
<body>
    <h3><span>[맞춤제작] 화조도-2(연그레이)</span></h3>
    <img src="../../img/product_img.GIF" alt="[맞춤제작] 화조도-2(연그레이)">
</body>
</html>