<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>다연아트 홈페이지^^</title>
    <link rel="stylesheet" type="text/css" href="../css/maintop01.css">
    <link rel="stylesheet" type="text/css" href="../css/maintop02.css">
    <link rel="stylesheet" href="../css/middle.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.js"></script>

    <script>
        $(document).ready(function() {
            $('.slider').bxSlider({
                slideWidth : 480,
                auto: true,
                speed : 500,
                pause: 3000,
                mode : 'fade',
                autoHover : true,
                pager: true,
                controls: false
            });
        });
    </script>
</head>
<body style="width: 100%;">
    <header>
        <section id="top">
            <a id="logo" href="index.html"><img src="../../img/amazon_logo.png" alt="로고 사진"></a> <!--로고이미지 추가-->
            <div id="search">
                <div id="search_title">SEARCH</div>
                <div id="search_form"><input type="text"></div>
                <div id="search_button"><img src="../../img/button.png"></div> <!--버튼이미지 추가-->
            </div>
            <nav id="top_menu">
                <ul>
                    <li class="green"><a href="#">로그인</a></li>
                    <li class="green"><a href="#">회원가입</a></li>
                    <li><a href="#">마이페이지</a></li>
                    <li><a href="#">이용안내</a></li>
                    <li><a href="#">고객센터</a></li>
                </ul>
            </nav>  <!--top.menu-->
            <div class="clear"></div>
        </section> <!--section top-->
        <nav id="main_menu">
            <ul>
                <li><a href="detail.html">상세 페이지</a></li>
                <li><a href="cart.html">장바구니</a></li>
                <li><a href="#">고객 갤러리</a></li>
                <li><a href="#">주문배송</a></li>
                <li><a href="#">자주 하는 질문</a></li>
            </ul>
        </nav>
    </header>
    <section id="main">
        <section id="cat1">
            <div id="cat_title">
                CATEGORY ITEM   
            </div>
            <ul>
                <li><a href="#">장마준비</a></li>
                <li><a href="#">여성패션</a></li>
                <li><a href="#">남성패션</a></li>
                <li><a href="#">엑세서리</a></li>
                <li><a href="#">화장품/미용</a></li>
                <li><a href="#">가구/인테리어</a></li>
                <li><a href="#">여행</a></li>
                <li><a href="#">가전</a></li>
            </ul>
        </section>  <!--section cat1-->
        <section id="cat2">
            <div class="slider">
                <img class="image" src="../../img/beach.jpg">
                <img class="image" src="../../img/mountain.jpg">
                <img class="image" src="../../img/waterfall.jpg">
                <img class="image" src="../../img/sea.jpg">
                <img class="image" src="../../img/beach2.jpg">
            </div>
        </section>  <!--section cat2-->
        <section id="cat3">
            <div id="latest_notice">
                <ul>
                    <p>NOTICE</p>
                    <li>폭설로 인한 배송지연 안내</li>
                    <li>폭설로 인한 배송지연 안내</li>
                    <li>폭설로 인한 배송지연 안내</li>
                    <li>폭설로 인한 배송지연 안내</li>
                    <li>폭설로 인한 배송지연 안내</li>
                    <li>폭설로 인한 배송지연 안내</li>
                </ul>
            </div>
            <div id="week_event">
                <h3>THE WEEK'S EVENT</h3>
                <span>이번 주의 <span>이벤트 상품</span>을 확인해보세요!</span>
                <img src="../../img/penguin.png" alt=""> <!--이미지 추가-->
            </div>
        </section>  <!--section cat3-->
        <!--생략-->
    </section>  <!--section main-->
    <!--생략-->
    <div class="class1">
    <section id="special_shop">
        <ul>
            <h3>SPECIAL SHOP</h3>
            <li><img src="../../img/nike.png" alt=""></li>    <!--이미지 추가-->
            <li><img src="../../img/nike.png" alt=""></li>    <!--이미지 추가-->
        </ul>
    </section> <!--section special_shop-->
    <section id="special_banner">
        <div id="banner1">
            <ul>
                <h4>LANDSCAPE</h4>
                <p>한폭의 아름다움<span>풍경 사진 벽지</span></p>
                <li><img src="../../img/pander.png" alt=""></li>    <!--이미지 추가-->
                <li><img src="../../img/pander.png" alt=""></li>    <!--이미지 추가-->
            </ul>
        </div>
        <div id="banner2">
            <ul>
                <h4>POINTWALLPAPER</h4>
                <p>밋밋한<span>포인트 벽지</span></p>
                <li><img src="../../img/pander.png" alt=""></li>    <!--이미지 추가-->
                <li><img src="../../img/pander.png" alt=""></li>    <!--이미지 추가-->
            </ul>
        </div>
        <div id="banner3">
            <h4>CHILDREN</h4>
            <ul>
                <p>동심 속으로!<span>어린이방 벽지</span></p>
                <li><img src="../../img/pander.png" alt=""></li>    <!--이미지 추가-->
                <li><img src="../../img/pander.png" alt=""></li>    <!--이미지 추가-->
            </ul>
        </div>
    </div>
    </section> <!--section special_banner-->
     <!-- 메인페이지 제작 2 시작  -->
    <!-- 신규상품 -->
    <div class="class2">
    <section id="new">
        <h3><span>NEW ARRIVAL</span> 신규 상품</h3>
        <div class="item">
            <ul>
                <li><img src="../../img/nike.png" alt=""></li>
                <li class="subject">맞춤제작 (풍경)</li>
                <li class="comment">원하는 사이즈로 제작 가능</li>
                <li class="price">20.000원</li>
            </ul>
        </div>
        <div class="item">
            <ul>
                <li><img src="../../img/nike.png" alt=""></li>
                <li class="subject">맞춤제작 (풍경)</li>
                <li class="comment">원하는 사이즈로 제작 가능</li>
                <li class="price">20.000원</li>
            </ul>
        </div>
        <div class="item">
            <ul>
                <li><img src="../../img/nike.png" alt=""></li>
                <li class="subject">맞춤제작 (풍경)</li>
                <li class="comment">원하는 사이즈로 제작 가능</li>
                <li class="price">20.000원</li>
            </ul>
        </div>
        <div class="item">
            <ul>
                <li><img src="../../img/nike.png" alt=""></li>
                <li class="subject">맞춤제작 (풍경)</li>
                <li class="comment">원하는 사이즈로 제작 가능</li>
                <li class="price">20.000원</li>
            </ul>
        </div>
        <div class="clear"></div>
        <div class="item">
            <ul>
                <li><img src="../../img/nike.png" alt=""></li>
                <li class="subject">맞춤제작 (풍경)</li>
                <li class="comment">원하는 사이즈로 제작 가능</li>
                <li class="price">20.000원</li>
            </ul>
        </div>
        <div class="item">
            <ul>
                <li><img src="../../img/nike.png" alt=""></li>
                <li class="subject">맞춤제작 (풍경)</li>
                <li class="comment">원하는 사이즈로 제작 가능</li>
                <li class="price">20.000원</li>
            </ul>
        </div>
        <div class="item">
            <ul>
                <li><img src="../../img/nike.png" alt=""></li>
                <li class="subject">맞춤제작 (풍경)</li>
                <li class="comment">원하는 사이즈로 제작 가능</li>
                <li class="price">20.000원</li>
            </ul>
        </div>
        <div class="item">
            <ul>
                <li><img src="../../img/nike.png" alt=""></li>
                <li class="subject">맞춤제작 (풍경)</li>
                <li class="comment">원하는 사이즈로 제작 가능</li>
                <li class="price">20.000원</li>
            </ul>
        </div>
    </section>
</div>
    <footer>
        <section id="footer_menu_box">
            <nav id="footer_menu">
                <ul>
                    <li><a href="#">회사소개</a></li>
                    <li><a href="#">이용안내</a></li>
                    <li><a href="#">장바구니</a></li>
                    <li><a href="#">주문조회</a></li>
                    <li><a href="#">적립금</a></li>
                    <li><a href="#">이용약관</a></li>
                    <li><a href="#">개인정보보호정책</a></li>
                    <li><a href="#">고객센터</a></li>
                </ul>
            </nav>
        </section>



        <!-- 하단 메뉴 박스 -->
        <section id="footer_box">
            <div id="footer_logo">
                <img src="../../img/pixabay-g8fc0d0f56_640.png" alt="팬더">
            </div>
            <div id="address">
                <p>상호: 픽사베이 대표 : 이재욱 개인정보관리 책임자: 이재욱 <br>
                주소: 대전광역시 서구 둔산동 갤러리아타임월드 전화 :010-8282-8282<br></p>
                <!-- <img src="../../img/penguin.png" alt=""> -->
            </div>
            <div id="footer_banner">
                <img src="../../img/love.png" alt="">
            </div>
        </section>


    </footer>


</body>
</html>